    .caixa1 {
        background-color: orangered;
        padding: 1px;
        border: 5px  black solid;
        margin: 10px;
    }
    .caixa2 {
        background-color: orangered;
        padding: 1px;
        border: 5px  black solid;
        margin: 10px;
    }
    .caixa3 {
        background-color: orangered;
        padding: 1px;
        border: 5px  black solid;
        margin: 10px;
    }
    p {
        font-size: large;
    }
    .caixa4 {
        background-color: orangered;
        padding: 1px;
        border: 5px  black solid;
        margin: 10px;
    }
    .caixa5 {
        background-color: orangered;
        padding: 1px;
        border: 5px  black solid;
        margin: 10px;
    }
    a {
        font-size: larger;
    }

    